<header>
  <h1><%= SensiblesConfig.app_name %></h1>
  <p>
    <%= SensiblesConfig.app_description %>
  </p>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'SimpleTails', simple_tails_path %>
    <%= link_to "GitHub", "https://github.com/davidteren/sensible_rails_starter", target: '_blank' %>
    <% if Rails.env.development? %>
      <%= link_to 'Lookbook', lookbook_path, target: '_blank' %>
      <%= link_to 'Tailwind Config Viewer', "http://127.0.0.1:3008", target: '_blank' %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Sign Out", sign_out_path %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </nav>
</header>
