<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render "shared/header" %>
    <main class="simple-tails">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
